<div class="card-body">
    <h4 class="subheader">Configuration</h4>
    <form method="post" id="testConfigForm">
        {{ form.csrf_token }}

        <div class="mb-3">
            {{ form.swarm_size.label(class="form-label") }}
            <small class="form-hint mb-1">Up to {{ session['swarm_max'] }} clients</small>
            {{ form.swarm_size(class="form-range mb-2", min="0", max=session['swarm_max'], step="1") }}
            {# {{ form.increment.label(class="form-label") }}
            {{ form.increment(class="form-range mb-2", min="0", max="5", step="1") }} #}
            {{ form.duration.label(class="form-label") }}
            <small class="form-hint mb-1">Up to {{ session['minutes_max'] }} minute</small>
            {{ form.duration(class="form-range mb-2", min="0", max=60 * session['minutes_max'], step="10") }}
        </div>

        <div class="form-floating mb-3">
            {{ form.feature(class="form-select", id="floatingSelect") }}
            {{ form.feature.label(for="floatingSelect") }}
        </div>
        {{ form.submit(class="btn w-100 mb-3", onClick="loadingModal()", id="submit") }}
        <a href="#" class="btn w-100 mb-3" data-bs-toggle="modal" data-bs-target="#modal-report">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-window-maximize">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M3 16m0 1a1 1 0 0 1 1 -1h3a1 1 0 0 1 1 1v3a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1z" />
                <path d="M4 12v-6a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-6" />
                <path d="M12 8h4v4" />
                <path d="M16 8l-5 5" />
            </svg>
            Report
        </a>
        <script>
            function displayReport() {
                document.getElementById("report").innerHTML = ``;
                document.getElementById("report-modal").innerHTML = `
                    <iframe src="{{ url_for('get_report') }}" width="100%" height="720" title="report"></iframe>
                `;
                $('#testConfigForm :input').prop('disabled', false);
            }
            function loadingModal() {
                $('#testConfigForm').submit(function () {
                    document.getElementById("report").innerHTML = `
                        <div class="text-secondary">Swarming Agent 🦗🦗🦗</div>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-indeterminate"></div>
                        </div>
                        <span id="time"></span>
                    `;
                    var duration = $("#testConfigForm :input[name='duration']").val();
                    display = document.querySelector('#time');
                    startTimer(duration, display);
                })

                {# $('#submit').prop('disabled', true); #}
                {# $('#testConfigForm :input').prop('disabled', true);  #}
            }
            function startTimer(duration, display) {
                var timer = duration, minutes, seconds;
                setInterval(function () {
                    minutes = parseInt(timer / 60, 10);
                    seconds = parseInt(timer % 60, 10);

                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;

                    display.textContent = minutes + ":" + seconds;

                    if (--timer < 0) {
                        timer = duration;
                    }
                }, 1000);
            }
            window.onload = function () {
                displayReport();
            };
        </script>

    </form>
</div>