ISSUER= # transport port load balancer (external)
DATABASE= # internal IP
ACAPY_ADMIN_API_KEY="insertAPIKeyHere"
EXPOSED_PORT=8151 # 80 for clustering 
ACAPY_GENESIS_URL=https://raw.githubusercontent.com/Indicio-tech/indicio-network/main/genesis_files/pool_transactions_testnet_genesis
ACCOUNT="insertStringHere"
PASSWORD="insertStringHere"
ADMIN_ACCOUNT="insertStringHere"
ADMIN_PASSWORD="insertStringHere"
