---
admin: [0.0.0.0, 8020]
admin-insecure-mode: true
inbound-transport:
   - [ws, 0:0:0:0:0:0:0:0, 8021]
   - [http, 0:0:0:0:0:0:0:0, 8022]
outbound-transport: [ws, http]

no-ledger: true
tails-server-url: https://tails.anoncreds.vc

auto-provision: true
recreate-wallet: false

wallet-key: akrida-test
wallet-name: akrida-test
wallet-type: askar-anoncreds

auto-ping-connection: true
auto-accept-invites: true
auto-accept-requests: true
auto-respond-messages: true

auto-store-credential: true

auto-respond-credential-offer: true
auto-respond-credential-request: true
auto-respond-credential-proposal: true

auto-verify-presentation: true
auto-respond-presentation-request: true

preserve-exchange-records: true

plugin:
  - webvh

plugin-config-value:
  - did-webvh.server_url=https://id.test-suite.app